<li id="message-{{ message.id }}" class="py-4">
    <div class="flex space-x-3">
        <img class="h-10 w-10 rounded-full" src="https://randomuser.me/api/portraits/lego/1.jpg" alt="">
        <div class="flex-1 space-y-1">
            <p class="text-sm text-white">{{ message.text }}</p>
        </div>
    </div>
</li>
